extends ../layout 

block content 
  h1 Author: #{author.name}
  p #[strong Years of life: ] #{author.yearsOfLife}

  div(style='margin-left:20px;margin-top:20px')

    h4 Books

    dl
    each book in bookList
      dt 
        a(href=book.url) #{book.title}
      dd #{book.summary}
      br

    else 
      p This author has no books.
  
  hr
  p
    a(href=author.url+'/delete').btn.btn-danger(role='button' style='margin-right:10px;') Delete
    a(href=author.url+'/update').btn.btn-primary(role='button') Update