extends ../layout

block content 
  h1= title

  ul 
  each book in bookList
    li 
      a(href=book.url) #{book.title}
      a(href=book.author.url)  (#{book.author.name})

  else 
    li There are no books.